
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=1170"/>
    <title>绘事后素</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/assets/css/styles.css"/>
    <script src="/assets/js/vendor.js"></script>
    <base href="/"/>
  </head>
  <body ng-app="hshs" ng-cloak="ng-cloak">
    <div class="container">
      <header>
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="/" class="navbar-brand">绘事后素</a>
            </div>
            <div id="navbar-collapse" class="collapse navbar-collapse">
              <ul class="nav navbar-nav">      
                <li class="dropdown"><a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">新品速递 <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="/products">For him</a></li>
                    <li><a href="/products">For her</a></li>
                  </ul>
                </li>
                <li class="dropdown"><a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">女装 <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="/products">设计师</a></li>
                    <li><a href="/products">服装</a></li>
                    <li><a href="/products">配饰</a></li>
                  </ul>
                </li>
                <li class="dropdown"><a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">男装 <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="/products">设计师</a></li>
                    <li><a href="/products">服装</a></li>
                    <li><a href="/products">配饰</a></li>
                  </ul>
                </li>
                <li class="dropdown"><a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">折扣 <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="/products">男装</a></li>
                    <li><a href="/products">女装</a></li>
                  </ul>
                </li>
              </ul>
              <form role="search" ng-controller="productsCtrl" class="navbar-form navbar-right">
                <div class="form-group">
                  <input type="text" placeholder="Search" ng-model="product.designer" typeahead="product.designer for product in products | filter: $viewValue | limitTo: 8" class="form-control"/>
                </div>
                <button type="submit" class="btn btn-default">Go</button>
              </form>
            </div>
          </div>
        </nav>
      </header>
      <section>
        <ui-view></ui-view>
      </section>
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="/assets/js/app.js"></script>
  </body>
</html>